@import "../../../style/pageStyle.scss";

.wrapper--podologia {
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2;

  transform: 2s;
}
.square {
  //   position: relative;
  width: 100px;
  height: 100px;
  background: #b30;
}
.block-p {
  width: 30%;
  margin-left: 20px;
  margin-top: 20px;
}

.podologia--p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  //   text-align: left;
}


.podologia--p:hover {
  color: aqua;
}

.divImigNoneVisible {
  display: none;
}

.divImigVisible {
  // display: block;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  gap: 20px;
}

.visibleInf--img {
  object-fit: scale-down;
  // width: 40%;
}

.wrapper__podologia--boxByPodologiaJson {
  margin-top: 20px;
  width: 50%;
  display: flex;
  // justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  place-items: center start;
}

.wrapper__podologia__boxByPodologiaJson--item {
  border: solid 1px black;
  padding: 0 15px;
  height: 150px;
  vertical-align: middle;
}