@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Poppins:wght@700&display=swap");
.wrapper--podologia {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2;
}

.podologia--title {
  width: 100%;
  text-align: left;
}

.podologia--title:hover {
  color: rgb(243, 147, 44);
  font-family: "Poppins", sans-serif;
  font-weight: bold 700;
}

.detaliesPage {
  position: absolute;
  overflow-y: auto;
  right: 3%;
  width: 800px;
  box-sizing: content-box;
  z-index: 60;
  height: 500px;
}