@import "../../../style/pageStyle.scss";

.wrapper--podologia {
  display: flex;
  flex-direction: column;

  font-size: 1.5rem;
  line-height: 2;


}

.podologia--title {
  width: 100%;
  text-align: left;

}

.podologia--title:hover {
  @include ul__Title;
}


// .divImigVisible {
//   //   display: block;
//   display: flex;
//   justify-content: space-evenly;
//   width: 90%;
//   gap: 20px;
// }

// .visibleInf--img {
//   object-fit: scale-down;
//   width: 40%;
// }

// .wrapper__podologia--boxByPodologiaJson {
//   margin-top: 20px;
//   width: 90%;
//   display: flex;
//   align-content: flex-start;
//   flex-wrap: wrap;
//   gap: 30px;
//   //   place-items: center start;
// }

// .wrapper__podologia__boxByPodologiaJson--item {
//   border: solid 1px black;
//   border-radius: 20px;
//   padding: 0 15px;
//   height: 150px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   //   vertical-align: middle;
//   //   background-image: url("2head.jpg");
// }
// .wrapper__podologia__boxByPodologiaJson--item:hover {
//   background-color: rgb(243, 147, 44);
//   transform: scale(1.1);
//   box-shadow: 0 0 5px 5px skyblue;
// }
.detaliesPage {
  position: absolute;
  overflow-y: auto;
  // scroll-behavior: auto;
  right: 3%;
  width: 800px;
  box-sizing: content-box;
  z-index: 60;
  height: 500px;
}