@import "../../../style/pageStyle.scss";

.wrapper--podologia {
  //   display: flex;
  //   justify-content: start;
  //   align-items: center;
  font-size: 1.5rem;
  line-height: 2;

  transform: 2s;
}
.square {
  //   display: flex;
  //   justify-content: flex-start;
  margin: 10px 10px;
  width: 100%;
  border: 1px solid black;
}
.block-p {
  display: flex;
  justify-content: start;
  //   justify-content: flex-start;
  align-items: center;
}

.podologia--p {
  width: 100%;
  text-align: center;
}

.visibleInf--img {
  width: 50%;
}

.visibleInf--p {
  text-align: justify;
  text-indent: 30px;
  width: 40%;
  padding-right: 20px;
}

.podologia--p:hover {
  color: rgb(243, 147, 44);
  @include podologia;
  //   $podologiaColor: rgb(76, 61, 77);
}

.divImigNoneVisible {
  display: none;
}

.divImigVisible {
  //   display: block;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  gap: 20px;
}

.visibleInf--img {
  object-fit: scale-down;
  width: 40%;
}
