@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Poppins:wght@200;400;700&display=swap");
.motto,
.textHeader2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.textHeader2 {
  margin-top: 15px;
}