@import "../../../style/pageStyle.scss";

.wrapper--oferta {
    display: flex;
    justify-content: start;
        gap: 20px;
        width: 100%;
    font-size: 1.5rem;
    line-height: 2;

    transform: 2s;
}

.block-p {
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
}

.oferta--p {
    width: 100%;
    text-align: left;
}

.visibleInf--img {
    width: 50%;
}

.visibleInf--p {
    text-align: justify;
    text-indent: 30px;
    width: 40%;
    padding-right: 20px;
}

.oferta--p:hover {
    color: aqua;
}

.divImigNoneVisible {
    display: none;
}

.divImigVisible {
    // display: block;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    gap: 20px;
}

.visibleInf--img {
    object-fit: scale-down;
    // width: 40%;
}