@import "../../../style/pageStyle.scss";

.dlonie {
    width: 95%;
    margin: auto;

    & .dlonie--header {
        & .dlonie__header--p {
            font-size: 2em;
            margin-top: 15px;
            text-align: justify;
        }

        & .dlonie__header--p::first-line {
            padding-left: 20px;
            font-weight: bold;
        }

        & .dlonie__header--p::first-letter {
            padding-left: 30px;

        }
    }
}