@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Petit+Formal+Script&family=Poppins:wght@700&family=Raleway:ital@0;1&display=swap");
.dlonie {
  width: 95%;
  margin: auto;
}
.dlonie .dlonie--header .dlonie__header--p {
  font-size: 2em;
  margin-top: 15px;
  text-align: justify;
}
.dlonie .dlonie--header .dlonie__header--p::first-line {
  padding-left: 20px;
  font-weight: bold;
}
.dlonie .dlonie--header .dlonie__header--p::first-letter {
  padding-left: 30px;
}

.hands {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .hands {
    font-size: 14px;
  }
  .swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }
}