@import "../../../style/pageStyle.scss";

.hands {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .hands {
    font-size: 14px;
  }
  .swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }
}
