@import "../../style/pageStyle.scss";

$fontSize1rem: 1rem;

.footer {
  background-color: $footerColor;
  color: $footerTextColor;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10%;
  padding: 20px 15% 0;
  flex-direction: column;
  padding: 5px;
  position: relative;

  & p {
    text-indent: 0;
  }

                                                                & .map {
                                                                  width: 700px;
                                                                  height: 100px;
                                
                                                                  position: absolute;
                                                                  top: 50%;
                                                                  left: 20%;
                                                                  margin-bottom: 10px;
                                                                }
  & .footer--contakt,
  & .footer--address,
  & .footer--shortcuts {
    width: 80%;
    margin-top: 15px;
    margin-left: 15px;
  }

  & .footer__contakt--h5,
  & .footer__shortcuts--h5,
  & .footer__opinion--h5 {
    margin-bottom: 8px;
  }

  & .footer--address {
    & .footer__adress--wrap {
      width: 100%;
      position: relative;
      margin-bottom: 10px;

      & .logo_feet,
      & .logo_face {
        width: 40%;
      }

      & .logo_name {
        width: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

                                                                                                                                .map {
                                                                                                                                  width: 100%;
                                                                                                                                  position: absolute;
                                                                                                                                  top: 50%;
                                                                                                                                  margin-bottom: 10px;
                                                                                                                                }
    & .address--gabinet,
    & .address--salon {
      font-size:calc(#{$fontSize1rem} + 0.5rem);
    }

    & .address--p {
      margin-top: 5px;
      font-size: $fontSize1rem;
    }
  }

  & .footer--contakt {
    & a {
      text-decoration: none;
      color: $footerTextColor;
    }

    & .footer__contakt--tel {
      margin-top: 5px;
    }

    & .footer__contakt--tel,
    & .footer__contakt--tel a,
    & .footer__contakt--email a {
      font-size: $fontSize1rem;
      margin-left: 0;
    }

    & .footer__contakt__social--icon:hover {
      transform: scale(1.2);
    }

    & .footer__contakt__social--icon {
      position: relative;
      background-color: $footerColor;
      width: 30px;
      margin-top: 20px;
      margin-left: 5px;
    }
  }

  & .footer--opinion {
    width: 90%;
    margin: 15px;

    & .time__work--p {
      font-size: $fontSize1rem;
    }
  }

  @media screen and (min-width: 548px) {
    & .footer--address {

      & .address--gabinet,
      & .address--salon {
        font-size:calc(#{$fontSize1rem} + 0.7rem);
      }

      & .address--p {
        margin-top: 15px;
        font-size:calc(#{$fontSize1rem} + 0.3rem);
      }
    }

    & .footer--contakt {
      position: absolute;
      left: 50%;
      top: 145px;

      width: 30%;

      & .footer__contakt--h5 {
        font-size:calc(#{$fontSize1rem} + 0.7rem);
      }

      & .footer__contakt--tel,
      & .footer__contakt--tel a,
      & .footer__contakt--email a {
        font-size:calc(#{$fontSize1rem} + 0.3rem);
      }
    }

    & .footer--shortcuts {
      & .footer__shortcuts--h5 {
        font-size:calc(#{$fontSize1rem} + 0.7rem);
      }
    }

        & .footer--opinion {
      width: 90%;
      margin: 15px;

      & .footer__opinion--h5 {
        font-size:calc(#{$fontSize1rem} + 0.7rem);
      }

      & .time__work--p {
        font-size:calc(#{$fontSize1rem} + 0.3rem);
      }
    }
  }

  @media screen and (min-width: 663px) {
    & .footer--contakt {
      left: 30%;
    }

    & .footer--shortcuts {
      position: absolute;
      top: 37%;
      left: 60%;
      box-sizing: border-box;
      width: 30%;

      & .checklist {
        width: 30%;
      }
    }

    & .footer--opinion {
      margin-top: 40px;
    }
  }

  @media screen and (min-width: 800px) {
    & {
      flex-direction: row;
      gap: 3%;
    }

    & .footer--address {

      & .footer__adress--wrap {

        & .logo_feet,
        & .logo_face {
          width: 40%;
        }
      }

    }

    & .footer--contakt {
      position: static;
      margin-top: 50px;
    }

    & .footer--shortcuts {
      position: static;
      margin-top: 50px;
      width: 70%;

      & .checklist {
        width: 100%;
      }
    }

    & .footer--opinion {
      width: 100%;
      margin-top: 50px;


    }
  }
}