@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Poppins:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Poppins:wght@700&display=swap");
.footer {
  font-family: "Poppins", sans-serif;
  background-color: rgb(76, 61, 77);
  color: white;
  display: flex;
  padding: auto 15px;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 10px;
}

.checklist {
  list-style: none outside;
  text-align: center;
}

.checklist li {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 0 8px;
  cursor: pointer;
  position: relative;
}

li:hover {
  color: bisque;
  transform: scale(1.5) translateX(15%);
}

.social-icon {
  position: relative;
  background-color: rgb(76, 61, 77);
  width: 30px;
  margin-top: 10px;
  margin-left: 5px;
}

.social-icon:hover {
  transform: scale(1.1);
}

.address--h2,
.impotent__links--h2,
.tel__email--h2,
.time__work--h2 {
  text-align: center;
  color: rgb(243, 147, 44);
  text-shadow: 1px 1px 2px rgb(112, 112, 110);
}

.tel-email > p > a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}
.tel-email > p > a:hover {
  color: rgb(243, 147, 44);
}

.tel__email--p,
.time__work--p,
.address--p {
  text-align: center;
}