//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Poppins:wght@700&family=Raleway:ital@0;1&display=swap");
//@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Roboto:wght@700&display=swap";
//$titleFont: "Roboto", sans-serif;
//$titleFont: "La Belle Aurore", cursive;
//$titleFont: "Poppins", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Petit+Formal+Script&family=Poppins:wght@700&family=Raleway:ital@0;1&display=swap");

$font-family: "Petit Formal Script", cursive;
$font-family: "Poppins", sans-serif;
$font-family: "Raleway", sans-serif;
//Colors
$logoColor: #3f2e6f;
$navColor: rgb(22, 172, 241);
$podologiaColor: rgb(76, 61, 77);
//  footer
$footerColor: rgb(76, 61, 77);

$footerH2: rgb(243, 147, 44);
$footerH2shadow: 1px 1px 2px rgb(112, 112, 110);
$footerTextColor: white;

@mixin icon-social($top, $right) {
  position: relative;

  width: 50px;
  height: 50px;
  margin: 10px;
  top: $top;
  right: $right;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
//TextHeader
@mixin textHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

//   font-family: "La Belle Aurore", cursive;
//   font-family: "Poppins", sans-serif;
// }
//Podologia
@mixin podologia {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Dancing Script", cursive;

  // font-family: "La Belle Aurore", cursive;
  // font-family: "Poppins", sans-serif;
  color: $podologiaColor;
}

//Oferta
@mixin oferta {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "La Belle Aurore", cursive;
  font-family: "Poppins", sans-serif;
  color: $podologiaColor;
}

// @mixin CallNumber {
//   background-color: rgb(151, 26, 26);
//   font-size: 55px;
// }
@mixin masasz {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "La Belle Aurore", cursive;
  font-family: "Poppins", sans-serif;
  $podologiaColor: rgb(76, 61, 77);
}
@mixin peeling {}

@mixin dlonie {}
// jkj