@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//FONTS
$titleFont: 'Roboto', sans-serif;
//Colors
$navColor: rgb(15, 215, 202);
//  footer
$footerColor: rgb(104, 102, 102);
$footerH2: rgb(241, 204, 16);
$footerH2shadow: 1px 1px 2px rgb(112, 112, 110);
$footerTextColor: white;