@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Petit+Formal+Script&family=Poppins:wght@700&family=Raleway:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main--header .logo--div {
  position: sticky;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #3f2e6f;
}
.main--header .logo--div .logo__div--imgLeft {
  width: 7%;
  height: 100%;
}
.main--header .logo--div .logo__div--imgRight {
  width: 5%;
  height: 100%;
}
.main--header .logo--div .logo__div--imgCenter {
  width: 20%;
  height: 100%;
}
.main--header .logo--div .logo__div--imgBetween {
  width: 40%;
  height: 100%;
}
.main--header .main__header--nav {
  height: 30px;
  width: 100%;
  padding-top: 5px;
}
@media screen and (min-width: 576px) {
  .main--header .main__header--nav {
    text-align: center;
    background-color: rgb(22, 172, 241);
    border-bottom: 1px solid #262528;
    display: flex;
    align-items: center;
    transition: 3s;
  }
}