@import "../../style/pageStyle.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$borderColor: #262528;
.main--header {

  & .logo--div {
    position: sticky;
    height: auto;
    @include flex_center;
    background-color: $logoColor;
    
      & .logo__div--img {
        width: 10%;
        height: auto;
      }

        & .logo__div--img2 {
          width: 20%;
          height: auto;
        }

    }

    & .main__header--nav {
    height: 30px;
      width: 100%;
      padding-top: 5px;
    }
                                                                                                                                                                                                                                                                @media screen and (min-width:576px) {
    & .main__header--nav {
        // padding: 10px 0;
        text-align: center;
      background-color: $navColor;
        // border-top: 1px solid rgb(87, 85, 85);
        border-bottom: 1px solid $borderColor;
        display: flex;
        align-items: center;
        transition: 3s;
      }
  }
}