@import "../../style/pageStyle.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$borderColor: #262528;

.main--header {

  & .logo--div {
    position: sticky;
    height: 60px;
    @include flex_start;
    background-color: $logoColor;

    & .logo__div--imgLeft {
      width: 12%;
        height: 100%;
      }

        & .logo__div--imgRight {
      width: 10%;
        height: 100%;
      }
        //   & .logo__div--imgCenter {
        //     width: 20%;
        // height: 100%;

    & .logo__div--imgBetween {
        width: 40%;
        height: 100%;
      }
& .logo__div--imgCenter {
  width: 30%;
  height: 100%;
}
    }

    & .main__header--nav {
    height: 30px;
    width: 100%;
    padding-top: 5px;
    }

    @media screen and (min-width:576px) {
    & .logo--div {
        position: sticky;
        height: 60px;
        @include flex_start;
        background-color: $logoColor;
    
        & .logo__div--imgLeft {
          width: 7%;
          height: 100%;
        }
    
        & .logo__div--imgRight {
          width: 5%;
          height: 100%;
        }
    
        & .logo__div--imgBetween {
          width: 40%;
          height: 100%;
        }
    
        & .logo__div--imgCenter {
          width: 20%;
          height: 100%;
        }
      }
    & .main__header--nav {
      // padding: 10px 0;
      text-align: center;
      background-color: $navColor;
      // border-top: 1px solid rgb(87, 85, 85);
      border-bottom: 1px solid $borderColor;
        display: flex;
        align-items: center;
        transition: 3s;
      }
  }
}