@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Petit+Formal+Script&family=Poppins:wght@700&family=Raleway:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main--header .logo--div {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f2e6f;
}
.main--header .logo--div .logo__div--img {
  width: 10%;
  height: auto;
}
.main--header .logo--div .logo__div--img2 {
  width: 20%;
  height: auto;
}
@media screen and (min-width: 576px) {
  .main--header .main__header--nav {
    height: 50px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #3f2e6f;
    border-top: 1px solid rgb(87, 85, 85);
    border-bottom: 1px solid rgb(87, 85, 85);
    display: flex;
    align-items: center;
    transition: 3s;
  }
}