@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Petit+Formal+Script&family=Poppins:wght@700&family=Raleway:ital@0;1&display=swap");
.main {
  width: 100%;
  padding-bottom: 30px;
  transition: position 20s;
}
.main .slide-photo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.main .slide-photo .slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 80%;
}
.main .slide-photo .slideshow .slideshowSlider {
  white-space: nowrap;
  transition: ease 2000ms;
}
.main .slide-photo .slideshow .slideshowSlider .slideshowSlider--img {
  width: auto;
  height: 380px;
}
.main .teams {
  display: flex;
  align-items: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

/* Buttons */