.main {
  width: 100%;
  background-image: url("../../../img&icon/background.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}
.slide-photo {
  display: flex;
  justify-content: center;
  width: 100%;
 

}
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 80%;
}

.slideshowSlider {
  white-space: nowrap;
  transition:  ease 2000ms;

}
.slideshowSlider--img{
  width:auto;
  height: 380px;
}
.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
margin-left: 100px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
.teams{
margin: 30px auto;
}
