@import "../../../../style/pageStyle.scss";

.motto {
  // @include textHeader;
  padding-top: 5px;
  font-size: 14px;
  text-indent: 15px;
  text-align: center;
  margin: 15px;
  h1,
  h3 {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
}

.textHeader2 {
  margin-top: 21px;
  height: 100h;
}
