@import "../../../../style/pageStyle.scss";

.motto {
  // @include textHeader;
  padding-top: 10px;
  font-size: 14px;
    display: flex;
    justify-content: center;
  
    h1 {
  
      margin: 0 auto;
  
    }
}

.textHeader2 {
  margin-top: 21px;
  height: 100h;
}
