@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
* {
  margin: 0;
}

.logo--div {
  background-color: aqua;
    top: 0;
    z-index: 40;
  position: sticky;
}
.nav--div {
  top: 41px;
  position: sticky;
  z-index: 50;
}