* {
  margin: 0;
}

.logo--div{
  background-color: aqua;
  top: 0;
  position: sticky;
}
.nav--div{
  top: 40px;
  position: sticky;
}
.socials {
  width: 100%;
  text-align: center;
  background-color: #292929;
}
.socials--div {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
height: 155px;
}
 .fb {
  width: 250px;
  height: 155px;
  float: left;
}

.fb:hover {
  background-color: #4668b3;
}

.yt {
  width: 250px;
  height: 155px;
  float: left;
}
.yt:hover {
  background-color: #d94348;
}
.tw {
  width: 250px;
  height: 155px;
  float: left;
}
.tw:hover {
  background-color: #3095d3;
}
.gplus {
  width: 250px;
  height: 155px;
  float: left;
}
.gplus:hover {
  background-color: #d95333;
} 


