@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Petit+Formal+Script&family=Poppins:wght@700&family=Raleway:ital@0;1&display=swap");
@media screen and (min-width: 576px) {
  .ul__menu--pc {
    box-sizing: content-box;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    top: 50px;
    gap: 10px;
    background-color: rgb(76, 61, 77);
  }
}