@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Petit+Formal+Script&family=Poppins:wght@700&family=Raleway:ital@0;1&display=swap");
.main__header--nav {
  background-color: rgb(22, 172, 241);
}
.main__header--nav .burger-btn {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
}
.main__header--nav .burger-btn:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}
.main__header--nav .burger-btn:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}
.main__header--nav .burger-btn span {
  position: absolute;
  top: 9px;
  width: 20px;
  background-color: black;
  height: 2px;
}