.burger-btn {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  position: relative;
}
.burger-btn:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}
.burger-btn:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}
.burger-btn span{
    position: absolute;
  top: 9px;
  width: 20px;
  background-color: black;
  height: 2px; 
}